/* <{--------------------------[ Variables ]--------------------------}> */
/* ----<{ Target[Type]-modifier }> Set Context */

$color-primary: #59ab6e;
$color-light: #ffff;
$color-light-muted: #BCBCBC;
$color-gray: #cfd6e1;
$color-lightblue: #e9eef5;
$color-nigth: #212529;
$color-dark-blue: #1d242d;

$text-font: "Roboto", Helvetica, sans-serif;

$bg-shoe-banner: url("../img/banner_img_01.jpg");
$bg-lipstick-banner: url("../img/banner_img_02.jpg");
$bg-lampshade-banner: url("../img/banner_img_03.jpg");