.link {
    text-decoration: none;
    color: $color-night;

    &--light {
        color: $color-gray;
    }

    &:hover,
    &:active {
        color: $color-primary;
        transition: color .5s ease;
    }
}